.contact {
  padding: 3rem 2rem 2rem;
  /* background-color: hsl(35, 35%, 89%); */
  /* background-color: hsl(0, 88%, 10%); */
  background-color: hsla(47, 18%, 75%, 0.63);
  /* color: white; */
  /* text-align: center; */
}

.contact-title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  /* font-weight: bold; */
  letter-spacing: 2px;
  /* text-transform: uppercase; */
}

.contact-message {
  font-size: .8rem;
  margin-bottom: 3rem;
  /* letter-spacing: .5px; */
  /* text-transform: uppercase; */
  /* letter-spacing: 1px; */
  color: #3f3e3e;
  line-height: 1.6;
}

.email-link {
  display: block;
  /* font-weight: bold; */
  text-decoration: none;
  font-size: 1rem;
  /* color: #252422; */
  /* margin-bottom: 2rem; */
  border-bottom: 1px solid transparent;
  transition: border 0.3s ease;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  font-size: 14px;
  letter-spacing: 2px;
}

.social-links a {
  color: #252422;
  text-decoration: none;
  font-weight: 500;
  /* font-size: ; */
  text-transform: uppercase;
  transition: border-bottom 0.3s ease;
  border-bottom: 1px solid transparent;
  
}

.social-links a:hover {
  /* border-bottom: 1px solid #252422; */
  /* color: #d3d2d2; */
  color: white;
}