.header {
  text-align: center;
}

.logo-container {
  padding: 0.5rem 0; 
}

.logo-container .logo {
    font-weight: bold;
    font-size: 1.9rem;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 0;  
}

.subtext {
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 2px;
    margin-top: 0;        
    margin-bottom: 0;     
    line-height: 1;       
}

.line {
  height: 1px;
  margin: 0.3rem auto; 
  background-color: #60574e;
}

.navbar {
  display: inline-flex;
  gap: 1.2rem; 
  justify-content: center;
}

.nav-link {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    position: relative;
    transition: color 0.6s ease;
}
