.projects {
  padding: 3rem 0 3rem;
  max-width:  90%;
  margin: 0 auto;
  /* background-color: hsl(42, 26%, 93%); */
}

.projects-title {
  /* text-align: center; */
  font-size: 1.7rem;
  /* font-weight: 600; */
  margin-bottom: 2rem;
  color: #333;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5rem;
  /* max-width: 1500px; */
  margin: 0 auto;
  justify-items: center;
}

.project-card {
  text-decoration: none;
  color: #222;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 2px;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* Image Preview Container */
.project-image-container {
  width: 85%;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.project-image {
  width: 100%;
  height: auto;
  transform: translateY(0);
  transition: transform 5s cubic-bezier(0.22, 1, 0.36, 1); /* smooth scroll */
  will-change: transform;
  
}

.project-image-container:hover .project-image {
  transform: translateY(-40%);
}

.project-image-container:not(:hover) .project-image {
  transition: transform 2s cubic-bezier(0.65, 0, 0.35, 1); /* smooth reset */
  transform: translateY(0);
}


.project-info {
  padding-top: 1rem;
  /* display: flex; */
  gap: .5rem;
  align-items: center;
  transform: translateY(-3px);
}

.project-info h3 {
  margin-bottom: 2px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  /* font-weight: 600; */
}

.project-desc-row {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.project-desc {
  font-size: .7rem;
  /* font-weight: 600; */
  color: #444;
  margin: 0;
  /* line-height: 1.4; */
  letter-spacing: 1px;
}

.project-desc-row .arrow {
  font-size: 1.1rem;
  transition: transform 0.3s ease;
  user-select: none;
  transform: translateY(-2px);
}
