.skills-marquee {
  background-color: hsl(35, 31%, 89%);
  padding: 1rem 0;
  overflow: hidden;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.track {
  display: flex;
  width: max-content;
  animation: scroll-left 15s linear infinite;
}

.track span {
  white-space: nowrap;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  padding-right: 4rem;
}

/* Continuous scroll */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
