.skills-marquee {
  /* background-color: hsl(35, 31%, 89%); */
  /* background-color: hsl(20, 7%, 9%); */
  /* background-color: hsl(45, 8%, 71%); */
  padding: .5rem 0;
  overflow: hidden;
  /* color: white; */
  /* color: antiquewhite; */
  /* border-top: 1px solid #ccc; */
  /* border-bottom: 1px solid #ccc; */
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.track {
  display: flex;
  width: fit-content;
  animation: scroll-left 20s linear infinite;
}

.skill-item {
  white-space: nowrap;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0 2rem;
  text-transform: uppercase;
}

/* Seamless scroll */
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
