@import "tailwindcss";

@font-face {
  font-family: 'Kepler';
  src:  url('./assets/fonts/KeplerStd-BoldScnDisp.otf');
}
@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'Great Vibes';
  src: url('./assets/fonts/GreatVibes-Regular.ttf');
}

* {
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

body{
  /* background-color: hsl(35, 55%, 94%); */
  background-color: #f6f6ea;
  /* background-color: #ece5db; */
  color: #252422;
  padding-top: 7rem;
}

   

 

