@import "tailwindcss";

@font-face {
  font-family: 'Kepler';
  src:  url('./assets/fonts/KeplerStd-BoldScnDisp.otf');
}
@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'Great Vibes';
  src: url('./assets/fonts/GreatVibes-Regular.ttf');
}

* {
  font-family: 'Lato', sans-serif;
}

body{
  /* background-color: hsl(35, 55%, 94%); */
  background-color: hsl(60, 38%, 94%);
  /* background-color: #ece5db; */
  color: #252422;
}